.left{
    position: relative;
    display: inline;
    color: #A6D9F7;
    margin: 0;
    padding: 0;
    ;
}
.right{
    position: relative;
    margin: 0;
    padding: 0;
    display: inline;
    color: #FBDF07;
    left: 2px;
}
.marg{
  max-width: 80%;
  margin: 8% auto 0 auto;
  text-align: center;
}
.marg-graph{
  max-width: 80%;
  margin: 0 auto 0 auto;
  text-align: center;
}
.fade-in-out {
    animation: fade-in-out 1s linear infinite; 
  }
  
  @keyframes fade-in-out {
    0% { opacity: 0; } 
    50% { opacity: 1; } 
    100% { opacity: 0; } 
  }
  .cursor-line {
    position: relative;
    left: 2px;
    z-index: 1;
}

.cursor-line{
     font-weight: 100;
    margin: 0;
    padding: 0;
    display: inline;
    color: #D67AB1;
}
.text{
  display: flex;
  justify-content: center;
  align-items: center;
}